
body{
    color: white;
    background-color: rgb(32, 19, 19);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    text-align: center;
    height: 16svh;
    width 100svw;
}

.game{
    display: flex;
}

.left{
    width: 40svw;
    height: 60svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.right{
    width: 40svw;
    height: 60svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.centre{
    width: 20svw;
    height: 60svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.title{
    font-size: 3.5svh;
}
 .yourChoice{
 
    height: 25svh;
    width: 25svh;
    /* border: 2px solid white; */
   
    /* border-radius: 2px; */
    box-sizing: border-box;
 }

 .roundResult{
    
    height: 20svh;
    width: 30svw;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    /* border-radius: 2px; */
    box-sizing: border-box;
 }
 .totalChoices{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
 }
.totalChoices button{
    height: 10svh;
    width: 14svw;
    font-size: medium;
    font-weight: 900;
    margin-inline: 3svw;
    border-radius: 2svw;
}
.score {
    height: 10svh;
    width: 20svw;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}